<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Autoscaling sample</title>
</head>
<body>

<div>
    <img th:src="@{/image/profile.jpg}" style="float: left; padding-right: 5px"/>

    <h3>Instance Metadata</h3>
    <ul>
        <li>amiId: <span th:text="${amiId}"/></li>
        <li>region: <span th:text="${region}"/></li>
        <li>instanceId: <span th:text="${instanceId}"/></li>
        <li>privateId: <span th:text="${privateId}"/></li>
    </ul>
</div>
</body>
</html>