<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Autoscaling sample</title>
</head>
<body>

<div>
    <img th:src="${imageUrl}" style="float: left; padding-right: 5px; margin-right: 10px;"/>

    <h2>Instance Metadata</h2>
    <ul>
        <li><h3>amiId: <span th:text="${amiId}"/></h3></li>
        <li><h3>region: <span th:text="${region}"/></h3></li>
        <li><h3>zone: <span th:text="${zone}"/></h3></li>
        <li><h3>instanceId: <span th:text="${instanceId}"/></h3></li>
        <li><h3>privateId: <span th:text="${privateId}"/></h3></li>
    </ul>
</div>
</body>
</html>